img{
    width: 300px;
    height: 300px;
    margin-left: 20%
    
}
p, h1{
    text-align: center;
    background-color: aliceblue;
    width: 30%;
    font-size: 20px;
    margin-left: 30%
}
body{
    background-image: url(concrete_seamless.png)
}